#kissa1 {
    position: fixed;
    left: 0;
    top: 300px;
}
#kissa2 {
    position: fixed;
    left: 0;
    top: 50px;
}
#kissa3 {
    position: fixed;
    left: 0;
    top: 100px;
}
#kissa4 {
    position: fixed;
    left: 0;
    top: 150px;
}
#kissa5 {
    position: fixed;
    left: 0;
    top: 200px;
}
#kissa6 {
    position: fixed;
    left: 0;
    top: 250px;
}